/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  background: #888;
}

#container {
  font-family: 'Droid Sans', Helvettica, Arial, sans-serif;
  text-align: center;
  width: 500px;
  margin: 20px auto;
  background: #ddd;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px  15px #000;
}

.footer {
  padding-top: 15px;
}

input#title {
  font-size: 2.4em;
}
