<h1>Search</h1>
<%- if @series.present? %>
  <ul>
  <%- @series.each do |s| %>
    <li><%= link_to s.title, "/series/#{s.id}" %></li>
  <%- end %>
  </ul>
<%- else %>
  <%= form_tag '/', :method => :post do %>
    <%= text_field_tag :title, '', :data => {:autocomplete => '/autocomplete_series_title'} %>
  <%- end %>
<%- end %>
