<img src="<%= h "/series/#{@series.id}.jpg" %>" style="width: 500px; height: 92px;" />
<h1><%= @series.title %></h1>
<h2><%= @series.status %></h2>
<%- if @series.status != "Ended" %>
  <h3>Airs <%= @series.airs_day_of_week.pluralize %> at <%= @series.airs_time_of_day %><%- if @series.network.present? %> on <%= @series.network %><%- end %></h3>
<%- end %>
<p><%= @series.description %></p>
<p><small>Last Updated: <%= @series.last_updated.strftime("%B %e, %Y") %></small></p>
<%= link_to 'back', '/' %>
