<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%-
    title = case request.domain(1) && request.domain(1).split('.').first
    when nil then 'Was It Cancelled? :: Development'
    when 'localhost' then 'Was It Cancelled? :: Development'
    when 'wasitcanceled' then 'Was It Canceled?'
    when 'wasitcancelled' then 'Was It Cancelled?'
    else 'Was It Canceled?'
    end
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/pepper-grinder/jquery-ui.css', :media => 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=580px;">

  <%- if Rails.env.production? %>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31805327-1']);
    _gaq.push(['_setDomainName', 'wasitcancelled.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setSiteSpeedSampleRate', 100])
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  <%- end %>

</head>
<body>
  <div id='container'>
    <%= yield %>
    <div class="footer">
      <small>Data provided by <a href="http://www.thetvdb.com/">The TV DB</a></small>
    </div>
  </div>
<%= javascript_include_tag "application" %>
</body>
</html>
